* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 15px 5%;
    background: white;
    border-bottom: 1px solid #eee;
}

.logo img {
    height: 100px;
}




.hero {
    background: url('banner.jpg') center/cover no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: blue;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 5%;
    gap: 20px;
    background: #f9f9f9;
}

.feature-item {
    text-align: center;
    padding: 20px;
}

.feature-item span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #d400ff;
    margin-bottom: 10px;
}

.about-ceo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px 5%;
}

.about img,
.ceo img {
    width: 100%;
    border-radius: 8px;
    margin: 15px 0;
}



.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px 5%;
    background: #f0f0f0;
}

.grid-section h2 {
    margin-bottom: 15px;
    color: #333;
}

.teams ul {
    list-style: none;
}



.partners {
    padding: 60px 5%;
    text-align: center;
}

.partners h2 {
    margin-bottom: 20px;
}

.partner-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.partner-logos div {
    background: #eee;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
}

/* Подвал */
.footer {
    background: #222;
    color: white;
    padding: 40px 5% 20px;
}



@media (max-width: 900px) {
    .features,
    .grid-section,
    .footer-grid,
    .partner-logos {
        grid-template-columns: 1fr;
    }

    .about-ceo {
        grid-template-columns: 1fr;
    }

    .nav ul {
        flex-wrap: wrap;
        gap: 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .header {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .search {
        justify-self: center;
    }
}